
footer {
    background-color: #0d4901;
    color: #fff;
    font-size: 16px;
  }
  footer * {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  .row {
    padding: 1em 1em;
    align-items: start;
  }
  .row.primary {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-items: start;
  }
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* padding: 0 2em; */
    min-height: 15em;
    align-items: start;
  }
  footer h3 {
    width: 100%;
    text-align: left;
    color: white;
    font-size: 1.4em;
    white-space: nowrap;
  }
  footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  footer li:not(:first-child) {
    margin-top: 0.8em;
  }
  footer ul li a {
    color: #bebebe;
    text-decoration: none;
  }
  footer ul li a:hover {
    color: #dddddd;
    padding: 2% 0 0 2%;
  }
  .about p {
    text-align: left;
    line-height: 2;
    margin: 0;
  }
  footer input, footer button {
    font-size: 1em;
    padding: 1em;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  footer button {
    background-color: #126801;
    color: #ffffff;
    border: 3px solid #093301;
  }

  footer button:hover {
    cursor: pointer;
    background-color: #cfd2d6;
    color: #093301;
  }
  
  .copyright {
    /* padding: 0.3em 1em; */
    background-color: #093301;
    height: 10vh;
  }
  .footer-menu{
    float: left;
      margin-top: 10px;
  }
  
  .footer-menu a{
    color: #cfd2d6;
    /* padding: 6px; */
  
    text-decoration: none;
  }
  .footer-menu a:hover{
    color: #dddddd;
  }
  .copyright p {
    font-size: 0.9em;
    text-align: right;
  }
  @media screen and (max-width: 850px) {
    .row.primary {
      grid-template-columns: 1fr;
    }
  
  }

