
.team {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .team img {
    width: 100%;
  }

.container {
    position: relative;
    width: 30%;
    margin: 2%;
    padding: 2%;
    flex-basis: 35%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #0d4901;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

  @media screen and (max-width: 768px) {
    .team {
      flex-direction: column;
      justify-content: center;
    }

    .text {
      width: 120%;
    }
    
    .container {
      width: 80%;
      padding: 2%;
      margin-left: 10%;
    }

  }